{{define "header"}}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Unitrans.io - do translations complete">
    <meta name="author" content="Yury Kozyrev">
    <title>{{ .Title }} - Unitrans.io</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
    <style>
        a, a:hover, a:focus {
            color: #3f51b5; /*indigo*/
        }
    </style>
</head>
<body>
<div class="navbar navbar-material-amber">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Unitrans.io</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://docs.transpoint.apiary.io/#">Documentation</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {{if .user.Id}}
            <li><a class="" href="/webapp/panel"> {{ .user.Id }}</a></li>
            <li><a class="" href="/webapp/logout">Log Out</a></li>
            {{ else }}
            <li><a class="" href="/webapp">Login</a></li>
            <li><a class="" href="/webapp/register">Register</a></li>
            {{end}}
        </ul>
    </div>
</div>
<!-- .Header -->
<div class="container">
{{end}}
