{{template "header"}}


<h1>Hi there</h1>

<p>
    {{.Session}}
</p>
<p>
    {{.user}}
</p>
<h3>Login</h3>
<form method="post" action="/webapp/login">
    <input type="text" name="username" placeholder="Login"/>
    <input type="text" name="pass" placeholder="Pass"/>
    <input type="hidden" name="csrf_token" value="{{ .token }}">
    <input type="submit" value="Login">
</form>
<h3>Register</h3>
<form method="post" action="/webapp/register">
    <input type="text" name="username"/>
    <input type="text" name="pass"/>
    <input type="hidden" name="csrf_token" value="{{ .token }}">
    <input type="submit" value="Register">
</form>

{{template "footer"}}