{{template "header" .}}

<h1>Login to your account</h1>
<br><br>

<form method="post" action="/webapp/login">
    <div class="form-group form-group-material-amber">
        <label for="InputLogin">Login</label>
        <input type="email" class="form-control" id="InputLogin" placeholder="Login" name="username">
    </div>
    <div class="form-group form-group-material-amber">
        <label for="InputPass">Password</label>
        <input type="password" class="form-control" id="InputPass" placeholder="Password" name="pass">
    </div>
    <input type="hidden" name="csrf_token" value="{{ .token }}">
    <button type="submit" class="btn btn-material-indigo">Login</button>
</form>


<p>
    No account? <a href="/webapp/register">Register here</a>
</p>

{{template "footer"}}