{{template "header" .}}


<div class="page-header">
    <h1>Manage your access keys here </h1>
</div>

<form method="post" action="/webapp/panel/keys">
    <input type="hidden" name="csrf_token" value="{{ .token }}">
    <button type="submit" class="btn btn-material-indigo">
        <span class="glyphicon glyphicon-plus"
              aria-hidden="true"></span> Generate new key pair
    </button>
</form>

<h3>
    Your keys
</h3>


{{range $key, $element := .keys}}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{$key}}</h3>
    </div>
    <div class="panel-body">
        <pre>X-Auth-Key: {{$key}}</pre>
        <pre>X-Auth-Secret: {{$element}}</pre>
        <form action="/webapp/panel/keys/delete/{{$key}}" method="post">
            <input type="hidden" name="csrf_token" value="{{ $.token }}">
            <button type="submit" class="btn btn-warning" >
            <span class="glyphicon glyphicon-trash"
                  aria-hidden="true"></span> Delete key</button>
        </form>

    </div>
</div>
{{else}}
<p>No keys</p>
{{end}}

{{template "footer"}}