{{template "header" .}}

<h1>Create new account</h1>
<br><br>

<form method="post" action="/webapp/register">
    <div class="form-group">
        <label for="InputEmail">Email</label>
        <input type="email" class="form-control" id="InputEmail" placeholder="Email" name="username">
    </div>
    <div class="form-group">
        <label for="InputPass">Password</label>
        <input type="password" class="form-control" id="InputPass" placeholder="Password" name="pass">
    </div>
    <input type="hidden" name="csrf_token" value="{{ .token }}">
    <button type="submit" class="btn btn-material-teal">Register</button>
</form>

<p>
    Already have an account? <a href="/webapp">Login here</a>
</p>

{{template "footer"}}