<div bindonce class="article">
    <div class="section-head">
        <div class="section-content"><span>Schr</span><span class="accent">a</span><span class="accent">u</span><span>bendreher</span>
        </div>
        <div class="section-label"><span bo-text="$root.messages.translations.dictionary"></span> UNIVERSAL (DE-RU)
        </div>
    </div>
    <div class="article-body" ng-class="{cropped: isCropped}">
        <div class="expand-collapse-control" ng-if="isCropped == false">
            <div ng-model="article.checked" btn-checkbox class="ng-hide"><span ng-if="!article.checked"
                                                                               bo-text="$root.messages.translations.showExamples"></span><span
                    ng-if="article.checked" bo-text="$root.messages.translations.hideExamples"></span></div>
        </div>
        <table class="article-body-items">
            <tr class="article-body-items">
                <td class="paragraph-marker"><span> </span></td>
                <td class="article-text-wrap" colspan="1"><span><span class="parts-of-speech"
                                                                      title="Maskulinum — (существительное) мужского рода">m</span></span><span><span
                        class="article-text"> </span></span><span><span
                        class="article-text"><-s, -> </span></span><span><span
                        class="article-text">отвёртка</span></span></td>
            </tr>
        </table>
    </div>


    <div bindonce class="article">
        <div class="section-head">
            <div class="section-content"><span>Schraubendreher</span></div>
            <div class="section-label"><span bo-text="$root.messages.translations.dictionary"></span> POLYTECHNICAL
                (DE-RU)
            </div>
        </div>
        <div class="article-body" ng-class="{cropped: isCropped}">
            <div class="expand-collapse-control" ng-if="isCropped == false">
                <div ng-model="article.checked" btn-checkbox class="ng-hide"><span ng-if="!article.checked"
                                                                                   bo-text="$root.messages.translations.showExamples"></span><span
                        ng-if="article.checked" bo-text="$root.messages.translations.hideExamples"></span></div>
            </div>
            <table class="article-body-items">
                <tr class="article-body-items">
                    <td class="paragraph-marker"><span> </span></td>
                    <td class="article-text-wrap" colspan="1"><span><span class="parts-of-speech"
                                                                          title="">m</span></span>
                <tr class="article-body-items">
                    <td class="paragraph-marker"><span> </span></td>
                    <td class="article-text-wrap" colspan="1"><span><span class="article-text">отвёртка</span></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div bindonce class="article">
        <div class="section-head">
            <div class="section-content"><span>Schraubendreher</span></div>
            <div class="section-label"><span bo-text="$root.messages.translations.dictionary"></span> AUTOSERVICE
                (DE-RU)
            </div>
        </div>
        <div class="article-body" ng-class="{cropped: isCropped}">
            <div class="expand-collapse-control" ng-if="isCropped == false">
                <div ng-model="article.checked" btn-checkbox class="ng-hide"><span ng-if="!article.checked"
                                                                                   bo-text="$root.messages.translations.showExamples"></span><span
                        ng-if="article.checked" bo-text="$root.messages.translations.hideExamples"></span></div>
            </div>
            <table class="article-body-items">
                <tr class="article-body-items">
                    <td class="paragraph-marker"><span> </span></td>
                    <td class="article-text-wrap" colspan="1"><span><span class="comment">m; см. Schraubenzieher</span></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>